html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 700px;
    height: 500px;
    background-color:  #1B244A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 50%;
}
.guest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 50%;

}
#score-home, #score-guest{
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 5rem;
    color:#f94f5d;
    align-self: center;
    align-items: center;
    justify-content: center;
    
    
}
.scoretable{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 0;
    max-width: 50%;
}
button{
    background-color: transparent;
    outline: none;
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    font-family: 'CARTOON ANIMATION', sans-serif;
    letter-spacing: 2px;
}